{:onyx/tenancy-id "1"
  :zookeeper/address "127.0.0.1:3188"
  :onyx.peer/storage.zk.insanely-allow-windowing? true
  :onyx.peer/job-scheduler :onyx.job-scheduler/balanced
  :onyx.peer/zookeeper-timeout 60000
  :onyx.messaging/allow-short-circuit? false
  :onyx.messaging/impl :aeron
  :onyx.messaging/bind-addr "localhost"
  :onyx.messaging/peer-port 40200
  :onyx.messaging.aeron/embedded-driver? true
  :onyx.log/config nil}
